<h1>User Login</h1>
<div>
    <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
        <input type=textfield name=name>
        <input type=textfield name=password>
        <input type=submit value='login'>
    <% end %>
</div>
